<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs478.arjan.a2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
    <receiver
            android:label="A2Receiver"
            android:enabled="true"
            android:name=".A2Receiver"
            android:exported="true"
            android:permission="edu.uic.cs478.project3">
            <intent-filter android:priority="20">
                <action android:name="edu.uic.cs478.project3.broadcast"  />
            </intent-filter>
    </receiver>
    </application>

</manifest>
